@mixin flex-display($flex-dir: row, $justify-content: flex-start, $align-items: normal) {
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-width-height($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

@mixin come-in-anim($left-percent: 100vw, $duration: 1s, $type: normal, $speed-curve: ease-in-out) {
    @keyframes come-in {
        0% {
            left: $left-percent;
        }

        100% {
            left: 0%;
        }
    }

    animation: come-in $duration $type $speed-curve;
}