@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes move-arrow {
  0% {
    right: -70px;
  }
  50% {
    right: -90px;
  }
  100% {
    right: -70px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #031725;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #edae49;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd8f43;
}

p {
  font-size: clamp(15px, 1.25vw, 24px);
}

h1 {
  font-size: clamp(39px, 5.83vw, 112px);
}

h2 {
  font-size: clamp(35px, 5vw, 96px);
}

h3 {
  font-size: clamp(31px, 4.16vw, 80px);
}

h4 {
  font-size: clamp(27px, 3.33vw, 64px);
}

h5 {
  font-size: clamp(23px, 2.5vw, 48px);
}

h6 {
  font-size: clamp(19px, 1.66vw, 32px);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  /* Full height of the viewport */
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 75%, rgba(71, 66, 53, 0.7), rgb(0, 21, 45));
  filter: brightness(65%) contrast(100%) hue-rotate(-15deg);
  z-index: -5;
}

#spotlight {
  position: absolute;
  width: 1px;
  /* Adjust the size of the spotlight */
  height: 1px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  /* Adjust the spotlight brightness */
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1000px 80px rgba(237, 174, 73, 0.5);
}

.blur-background {
  position: absolute;
  /* Adjust positioning as needed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.0001));
  border-radius: 20px;
  /* Adjust transparency here */
  backdrop-filter: blur(3px);
  /* Amount of blur */
  -webkit-backdrop-filter: blur(3px);
  /* Safari support */
  z-index: -1;
  /* Make sure it overlays other elements */
}

.header {
  height: 108px;
  margin-top: 108px;
  margin-bottom: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header .title-outer-cont {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  position: relative;
}
.header .title-outer-cont .blur-background {
  border-radius: 0px 0px 50px 50px;
}
.header .title-outer-cont .title-cont {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.header .title-outer-cont .title-cont .possible-title,
.header .title-outer-cont .title-cont .current-title {
  position: relative;
}
.header .title-outer-cont .title-cont .possible-title a,
.header .title-outer-cont .title-cont .current-title a {
  text-decoration: none;
  color: inherit;
}
.header .title-outer-cont .title-cont .possible-title {
  color: #FFFFFF;
}
.header .title-outer-cont .title-cont .possible-title:hover {
  color: #edae49;
}
.header .title-outer-cont .title-cont .current-title {
  color: #edae49;
  text-align: center;
}

.footer {
  margin: 0 auto;
  width: 50%;
  height: 162px;
  margin-top: 216px;
  margin-bottom: 108px;
}
.footer .footer-cont {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-cont .contact-cont {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-cont .contact-cont .personal-info {
  height: 100%;
  gap: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .footer-cont .contact-cont .personal-info h6 {
  color: #edae49;
}
.footer .footer-cont .contact-cont .personal-info hr {
  width: 50%;
  height: 0px;
}
.footer .footer-cont .contact-cont .personal-info p {
  font-size: 1.2rem;
}
.footer .footer-cont .contact-cont .contact-info {
  width: 30%;
  height: 60%;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-cont .contact-cont .contact-info hr {
  height: 50%;
}
.footer .footer-cont .contact-cont .contact-info .icons-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .footer-cont .contact-cont .contact-info svg:hover path {
  fill: #edae49;
}
.footer .footer-cont .nav-next-page {
  height: 100%;
  gap: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .footer-cont .nav-next-page h5 {
  color: #edae49;
}
.footer .footer-cont .nav-next-page p {
  position: relative;
}
.footer .footer-cont .nav-next-page p a {
  text-decoration: none;
  color: inherit;
}
.footer .footer-cont .nav-next-page p a:hover {
  color: #edae49;
}
.footer .footer-cont .nav-next-page p svg {
  width: 60px;
  height: 60px;
  position: absolute;
  transform-origin: left center;
  transform: translateY(-50%);
  right: -70px;
  top: 50%;
  animation: move-arrow 1.5s infinite ease-in-out;
}

@media (max-width: 480px) {
  .header {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .header .title-outer-cont {
    width: 100%;
    flex-wrap: wrap;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    align-content: center;
  }
  .header .title-outer-cont .blur-background {
    border-radius: 0px 0px 20px 20px;
  }
  .header .title-outer-cont .title-cont {
    min-height: 50px;
  }
  .footer {
    width: 60%;
    height: 400px;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .footer .footer-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
  }
  .footer .footer-cont .contact-cont {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
  }
  .footer .footer-cont .nav-next-page {
    height: 30%;
    align-self: flex-start;
  }
}
@media (min-width: 481px) and (max-width: 1280px) {
  .header {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .header .title-outer-cont {
    width: 100%;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
  .header .title-outer-cont .blur-background {
    border-radius: 0px 0px 20px 20px;
  }
  .footer {
    width: 60%;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .footer .footer-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-cont .contact-cont {
    width: 100%;
  }
}
#output-outer-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
#output-outer-cont img {
  align-self: center;
  border-radius: 5%;
  width: 20%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 0 20px 1px black;
}
#output-outer-cont #output-inner-cont {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#output-outer-cont #output-inner-cont h6 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  color: #FFFFFF;
}
#output-outer-cont #output-inner-cont #output {
  width: 100%;
}

@media (max-width: 1280px) {
  #spotlight {
    display: none;
  }
  main #output-outer-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
  main #output-outer-cont img {
    width: 30%;
    max-width: 250px;
  }
  main #output-outer-cont #output-inner-cont {
    width: 80%;
  }
}
@media (max-width: 480px) {
  main #output-outer-cont img {
    width: 60%;
    max-width: 400px;
  }
}/*# sourceMappingURL=about.css.map */