@import "../base";

@import "../components/particles";
@import "../components/spotlight";
@import "../components/blurred_bg";

@import "../components/skeleton";

// TODO:
// Fix resizing issue with the second code block - make it get smaller in width when window resized

#output-outer-cont {

    // width: fit-content;

    @include flex-display($flex-dir: row, $justify-content: center, $align-items: center);

    column-gap: 5%;

    img {
        // position: absolute;
        align-self: center;

        // border: 1px solid red;

        border-radius: 5%;

        width: 20%;
        max-width: 300px;
        height: auto;

        box-shadow: 0 0 20px 1px black;
    }

    #output-inner-cont {

        width: 60%;

        @include flex-display($flex-dir: column, $justify-content: flex-start, $align-items: flex-start);

        h6 {
            font-family: $secondary-font;
            font-weight: 800;

            color: $main-text-color;
        }

        #output {
            width: 100%;
        }

    }

}

// tablet and mobile
@media (max-width: 1280px) {

    #spotlight {
        display: none;
    }

    main {

        #output-outer-cont {

            @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);

            row-gap: 50px;

            img {

                width: 30%;
                max-width: 250px;

            }

            #output-inner-cont {

                width: 80%;

                #output {

                    pre[class*="language-"] {
                        white-space: pre-wrap !important;
                        /* Allows wrapping */
                        word-wrap: break-word;
                        /* Ensures long words break */
                        overflow-wrap: break-word;
                        /* Additional safety */
                    }

                }

            }

        }

    }

}

// mobile
@media (max-width: 480px) {

    main {

        #output-outer-cont {

            img {

                width: 60%;
                max-width: 400px;

            }

        }

    }

}

// tablets
@media (min-width: 481px) and (max-width: 1280px) {}