@import "../base";

@import "../components/particles";
@import "../components/spotlight";
@import "../components/blurred_bg";

@import "../components/header";
@import "../components/skeleton";

.content {

    #nav-projects {

        position: sticky;
        top: 10px;

    }

    #main-projects {

        width: 70%;

        @include flex-display($flex-dir: column, $justify-content: flex-start, $align-items: center);

        row-gap: 50px;

        .item {

            width: 100%;

            @include flex-display($flex-dir: row-reverse, $justify-content: space-around, $align-items: center);

            flex-wrap: wrap;

            .item-bg-projects {

                @include flex-width-height($width: 50%, $height: 100%);

                // min-width: 500px;

                border-radius: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                box-shadow: 20px 10px 50px black;

                &:hover {
                    cursor: url("/assets/icons/github-brands-solid.svg"), auto;
                }
            }

            .item-descr-projects {

                @include flex-width-height($width: 40%, $height: 100%);
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;

                h6 {
                    a {
                        text-decoration: none;
                        color: $secondary-text-color;

                        &:hover {
                            cursor: url("/assets/icons/github-brands-solid.svg"), auto;
                        }
                    }

                    width: 100%;

                    flex-grow: 1;
                }

                p.p-descr-bigger {
                    width: 100%;

                    flex-grow: 1;
                }

                .p-descr-section {
                    width: 100%;
                    flex-grow: 2;

                    @include flex-display($justify-content: space-around);

                    div {
                        @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);
                    }

                    div:first-child {
                        // Title
                        @include flex-width-height($width: 30%);

                        text-align: center;
                    }

                    div:last-child {
                        // Descr
                        @include flex-width-height($width: 60%);

                        text-align: center;
                    }
                }

                p.p-descr-smaller {
                    font-size: $default-font-size;
                }

                hr {
                    width: 100%;
                }
            }
        }

    }
}

// mobile
@media (max-width: 480px) {}

// tablets
@media (min-width: 481px) and (max-width: 1280px) {}