@import "../base";

@import "../components/particles";
@import "../components/spotlight";
@import "../components/blurred_bg";

@import "../components/skeleton";

#nav-projects {

    position: sticky;
    top: 10px;

}

#main-projects {

    margin: 0 auto;
    width: 70%;

    @include flex-display($flex-dir: column, $align-items: center);

    row-gap: 50px;

    .item {

        width: 100%;

        @include flex-display($flex-dir: row-reverse, $justify-content: space-around, $align-items: center);

        .item-bg-projects {

            @include flex-width-height($width: 50%, $height: 100%);

            // min-width: 500px;

            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            box-shadow: 20px 10px 50px black;

            &:hover {
                cursor: url("/assets/icons/github-brands-solid.svg"), auto;
            }
        }

        .item-descr-projects {

            @include flex-width-height($width: 40%, $height: 100%);

            position: relative; // for blurred bg

            @include flex-display($flex-dir: column, $justify-content: space-around, $align-items: center);

            a {
                color: $secondary-text-color;
            }

            h6 {
                a {
                    text-decoration: none;

                    &:hover {
                        cursor: url("/assets/icons/github-brands-solid.svg"), auto;
                    }
                }

                width: 100%;

                flex-grow: 1;
            }

            p.p-descr-bigger {
                width: 100%;

                flex-grow: 1;
            }

            .p-descr-section {
                width: 100%;
                flex-grow: 2;

                @include flex-display($justify-content: space-around);

                div {
                    @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);
                }

                div:first-child {
                    // Title
                    @include flex-width-height($width: 30%);

                    text-align: center;
                }

                div:last-child {
                    // Descr
                    @include flex-width-height($width: 60%);

                    text-align: center;
                }
            }

            .p-descr-section:last-child {

                div {

                    width: 100%;

                }

            }

            p.p-descr-smaller {
                font-size: $default-font-size;

                a:hover {
                    cursor: url("/assets/icons/github-brands-solid.svg"), auto;
                }
            }

            hr {
                width: 100%;
            }
        }
    }

}

// tablet and mobile
@media (max-width: 1280px) {

    #spotlight {
        display: none;
    }


    #main-projects {

        row-gap: 100px;

        .item {

            @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);
            row-gap: 30px;

            .item-bg-projects {

                width: 100%;

            }

            .item-descr-projects {

                width: 100%;

            }

        }

    }

}

// mobile
@media (max-width: 480px) {

    #main-projects {
        .item {

            .item-descr-projects {

                height: 400px;

            }

        }
    }

}

// tablets
@media (min-width: 481px) and (max-width: 1280px) {

    #main-projects {
        .item {

            .item-descr-projects {

                height: 300px;

            }

        }
    }

}