@import "utils/external";
@import "utils/variables";
@import "utils/functions";
@import "utils/animations";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
}

body {
    font-family: $main-font;
    font-size: $default-font-size;

    color: $main-text-color;

    background-color: $bg-color;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: clamp(15px, 1.25vw, 24px);
}

h1 {
    font-size: clamp(39px, 5.83vw, 112px);
}

h2 {
    font-size: clamp(35px, 5vw, 96px);
}

h3 {
    font-size: clamp(31px, 4.16vw, 80px);
}

h4 {
    font-size: clamp(27px, 3.33vw, 64px);
}

h5 {
    font-size: clamp(23px, 2.5vw, 48px);
}

h6 {
    font-size: clamp(19px, 1.66vw, 32px);
}