.header {

    height: 10vh;
    margin-top: 10vh;
    margin-bottom: 20vh;

    @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);

    font-family: $secondary-font;

    position: sticky;
    top: 0px;
    z-index: 1;

    .title-cont {

        @include flex-width-height($width: 60%, $height: 100%);

        @include flex-display($flex-dir: row, $justify-content: space-around, $align-items: center);

        position: relative;

        .blur-background {
            border-radius: 0px 0px 50px 50px;
        }

        .title-cont {
            height: 100%;
            width: fit-content;

            @include flex-display($flex-dir: column, $justify-content: center, $align-items: center);

            justify-content: center;

            .possible-title,
            .current-title {
                position: relative;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .possible-title {
                color: $main-text-color;

                &:hover {
                    color: $secondary-text-color;
                }
            }

            .current-title {
                color: $secondary-text-color;

                text-align: center;
            }
        }

    }

}